# Ingestion
requests
kafka-python

# Dashboard
streamlit>=1.37.0
plotly
pydeck
pandas
pyarrow

# Data streaming notebooks (Bronze / Silver / Gold)
jupyter
matplotlib

# AWS
boto3

# Utilities
python-dotenv
